html {
	font-family: sans-serif;
}

#slider {
	height: 576px;
	width: 20px;
	writing-mode: bt-lr; /* IE */
	-webkit-appearance: slider-vertical; /* WebKit */
}

#slider-container {
	text-align: center;
	margin-top: 1em;
}

#settings-container {
	float: left;
}

#settings,
#update,
#defaults {
	margin: 15px;
}

#settings {
	white-space: pre;
	margin-bottom: 50px;
}

